@import './font.css';
@import './reset.css';
@import './space.css';
@import './grid.css';

.shimmer {
  background: #eeeeee;
  background-image: linear-gradient(to right, #eeeeee 0%, #f9fafb 20%, #eeeeee 40%, #eeeeee 100%);
  background-repeat: no-repeat;
  background-size: 800px 200px;
  animation: placeholderShimmer 1s linear infinite forwards;
  opacity: 0.8;
}

.pointer {
  cursor: pointer;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
