.flex-apart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.flex-auto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}